body {
  text-align: center;;
}
.todo-wrapper {
  width: 520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #fff9c4;
  padding: 20px 0;
  border-radius: 5px;
}
ul {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
  width: 80%;
}
li {
  background-color: #FBC492;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px
}
li:nth-child(2n) {
  background-color: #FBB06C;
}
li:hover {
  background-color: #ffdcbc;
}

.done {
  text-decoration: line-through;
}
.filter-button, button {
  text-transform: uppercase;
  cursor: pointer;
  /*border: 1px solid grey;*/
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px;
  transition: all 0.2s ease;
  background-color: #FBB06C;
}
.filter-button:hover, button:hover, .filter-button:active, button:active {
  background-color: #FBC492;
}
.filter-button:focus {
  outline: none;
}

.filter-button-active {
  background-color: #FFCC00;
}
.deleteBtn {
  margin: 0 20px;
  cursor: pointer;
  color: red;
  float: left;
}


.error-input {
  border: 2px solid #f7943c;
}
input[type='text'], input[type='date'] {
  height: 18px;
  padding: 10px 0;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s ease;
}
input[type='text']:focus, input[type='date']:focus {
  background-color: #fff176;
}


input[type='checkbox'] {
  margin-right: 20px;
  cursor: pointer;
}
